# 48MHz Clock input = A9
LOCATE COMP "CLK" SITE "A9";
IOBUF PORT "CLK" IO_TYPE=LVCMOS33;
FREQUENCY PORT "CLK" 48000000.0 HZ;

# 40MHz ADC Clock input on pin A5 = T17
LOCATE COMP "clk_adc" SITE "T17";
IOBUF PORT "clk_adc" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_adc" 40000000.0 HZ;

# ADC Data[9:0] on pins [D13,D12,D11,D10,D9,D6,D5,MISO,D0,D1] =
# J2,H2,A8,B8,C8,B9,B10,N15,N17,M18
LOCATE COMP "adc_data[0]" SITE "M18";
IOBUF PORT "adc_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[1]" SITE "N17";
IOBUF PORT "adc_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[2]" SITE "N15";
IOBUF PORT "adc_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[3]" SITE "B10";
IOBUF PORT "adc_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[4]" SITE "B9";
IOBUF PORT "adc_data[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[5]" SITE "C8";
IOBUF PORT "adc_data[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[6]" SITE "B8";
IOBUF PORT "adc_data[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[7]" SITE "A8";
IOBUF PORT "adc_data[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[8]" SITE "H2";
IOBUF PORT "adc_data[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "adc_data[9]" SITE "J2";
IOBUF PORT "adc_data[9]" IO_TYPE=LVCMOS33;

# Audio PDM_L,R on SCK, MOSI = R17,N16
LOCATE COMP "PDM_L" SITE "R17";
IOBUF PORT "PDM_L" IO_TYPE=LVCMOS33;
LOCATE COMP "PDM_R" SITE "N16";
IOBUF PORT "PDM_R" IO_TYPE=LVCMOS33;

# diagnostics
LOCATE COMP "A0" SITE "L4";
IOBUF PORT "A0" IO_TYPE=LVCMOS33;
LOCATE COMP "A1" SITE "N3";
IOBUF PORT "A1" IO_TYPE=LVCMOS33;
LOCATE COMP "A2" SITE "N4";
IOBUF PORT "A2" IO_TYPE=LVCMOS33;
LOCATE COMP "A3" SITE "H4";
IOBUF PORT "A3" IO_TYPE=LVCMOS33;
LOCATE COMP "A4" SITE "G4";
IOBUF PORT "A4" IO_TYPE=LVCMOS33;

# USB_D+ = N1, USB_D- = M2, USB_PULLUP = N2
LOCATE COMP "USB_DP" SITE "N1";
LOCATE COMP "USB_DM" SITE "M2";
LOCATE COMP "USB_PULLUP" SITE "N2";
IOBUF PORT "USB_DP" IO_TYPE=LVCMOS33;
IOBUF PORT "USB_DM" IO_TYPE=LVCMOS33;
IOBUF PORT "USB_PULLUP" IO_TYPE=LVCMOS33;

# LED R = K4, LED_G = M3, LED_B = J3
LOCATE COMP "LED1" SITE "K4";
LOCATE COMP "LED2" SITE "M3";
LOCATE COMP "LED3" SITE "J3";
IOBUF PORT "LED1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED3" IO_TYPE=LVCMOS33;

# FPGA Reset (force bitstream reload from SPI Flash)
LOCATE COMP "RST_N" SITE "V17";
IOBUF PORT "RST_N" IO_TYPE=LVCMOS33;

# User button
LOCATE COMP "BTN_N" SITE "J17";
IOBUF PORT "BTN_N" IO_TYPE=SSTL135_I;
